:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, 'Menlo', 'Monaco', 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* a {
  color: inherit;
  text-decoration: none;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/**/
.container0{
  display: flex;
  padding-top: 200px;

}
.container {
  display: -webkit-box;
  display: flex;
  
  position:fixed ;
  width: 100%;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  background: #111;
  margin: 25px 0;
  box-shadow: 0 5px 15px -10px #111;
  
}

.logo {
  -webkit-box-ordinal-group: 2;
          order: 1;
  border-radius: 100%;
  /* background: #4382d6; */
  box-shadow: 0 0 0 3px #fff, 0 0 0 15px #111;
  font-size: 24px;
  color: #fff;
  line-height: 32px;
  padding: 20px;
}
.imglogo {
  width: 90px;
  height: 90px;
}
.imgfarm {
  width: 490px;
  height: auto;
}
.homeimg{
  height: 30px;
  width:auto;
}
.item {
  color: rgba(255, 255, 255, 0.88);
  text-decoration: none;
  font-family: sans-serif;
  padding: 24px;
}
.item:hover{
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
}

.item:nth-of-type(n+4) {
  -webkit-box-ordinal-group: 3;
          order: 2;
}
.flex-container {
  
  display: flex;
  padding-top: 0px;
  padding-bottom: 15px;
  flex-direction: row;
  flex-wrap: wrap ;
  justify-content:space-around ; /*justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;*/
  align-items: baseline ; /*align-items: stretch | flex-start | flex-end | center | baseline;    */
  align-content: space-around;
  gap: 40px 10px;
}
.card {
  display: block;
  border-radius: 10px;
  padding-top: 0px;
  box-shadow: 200px 200px 800px #c7ca11;
 
  width: 240px;
  height: 260px;
  border: 2px solid transparent;
  overflow: hidden;

    }
    .card:hover {
      transition: all 0.1s ease-out;
      box-shadow: 4px 4px 8px rgba(38, 38, 38, 0.2);
      top: 4px;
      border: 2px solid #cccccc;
      /* background-image: radial-gradient(circle farthest-corner at center, rgba(36, 160, 237, 1) 10%, rgba(0, 134, 208, 1) 20%, rgba(0, 109, 181, 1) 30%, rgba(0, 85, 154, 1) 40%, rgba(0, 62, 127, 1) 50%, rgba(0, 41, 102, 1) 60%, rgba(0, 21, 77, 1) 70%, rgba(0, 5, 54, 1) 80%, rgba(0, 2, 31, 1) 90%, rgba(0, 0, 3, 1) 100%); */
      /* background-image: radial-gradient(circle farthest-corner at center, rgba(255, 255, 0, 1) 10%, rgba(255, 255, 0, 1) 20%, rgba(255, 255, 0, 1) 30%, rgba(100, 180, 0, 1) 40%, rgba(140, 180, 0, 1) 50%, rgba(0, 41, 102, 1) 60%, rgba(0, 21, 77, 1) 70%, rgba(0, 5, 54, 1) 80%, rgba(0, 2, 31, 1) 90%, rgb(189, 228, 12) 100%); */
      background-image: radial-gradient(closest-corner at 50% 50%, white, yellow, white);
      background-color: rgba(250, 255, 100, 0.995); 
      /* background-color: yellow;  */
          }
         
.cardTitle{
  text-align: center;
}

.cardRating{
  text-align: left;
  padding-top: 4%;
  padding-left: 18%;
}

.cardCategory{
  text-align: left;
  padding-left: 18%;
}

.card0 {
  display: block;
  width: 45%;
  height: auto;
  border: 2px solid black;
  overflow: hidden;
}
.card1 {
  display: block;
  width: 45%;
  height: auto;
  border: 2px solid black;
  overflow: hidden;
}
.card2 {
  display: block;
  width: 90%;
  height: auto;
  border: 2px solid black;
  overflow: hidden;
}
    
.imageVcard{
 width: 170px;
 height: 170px;
 border-radius: 10%;
 display:block;
 margin:auto;
 }
.imageVcardAlberto{
  width: auto;
  height: 170px;
  border-radius: 10%;
  display:block;
  margin:auto;
}
.buttonhome{
  width: 150PX;
  height: 90px;
  border-radius: 20%;
  color: rgb(0, 0, 0);
  background: rgba(249, 183, 2, 0.15);

}


@media all and (max-width: 800px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: stretch;
            align-items: stretch;
            width: fit-content;
            position:absolute ;
  }

  .logo {
    -webkit-box-ordinal-group: 1;
            order: 1;
    text-align: center;
    width: 100px;
  
    margin: auto auto 20px;
  }

  .item {
    text-align: center;
    border-bottom: 1px solid #111;
  }
}